*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.sales-container{
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.sales-container:hover{
    border-bottom: 3px solid rgba(38, 0, 255);
}
.mini-middle, .mini-pricing{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.first{
    background-color: rgba(0, 0, 255, 0.5);
}
.second{
    background-color: blue;
}
.third{
    background: linear-gradient(to right, blue 0%, green 100%);
}
.forth{
    background-color: rgb(20, 117, 0);
}
.fifth{
    background-color: rgba(14, 83, 0, 0.8);
}
.details-container{
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: white;
}
.more-button:hover{
    cursor: pointer;
}
.closeIcon{
    background-color: rgba(0, 0, 0, 0.2);
    width: 20px;
    border-radius: 50%;
    padding-left: 5px;
    cursor: pointer;
}
.closeIcon:hover{
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
}