*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.sales-container{
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.mini-middle, .mini-pricing{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.more-button{
    border-bottom: 3px solid rgba(38, 0, 255);
}