*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.fav-selected{
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.browse-wrapper{
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.fav-category-list{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}