*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header-container{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
}
.active-header-route{
    color: rgb(27, 0, 180);
    background-color: rgba(27, 0, 180, 0.2);
    padding: 0.5rem;
    border-radius: 1rem;
}
