@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.app-header-container {
  grid-column: 2/4;
}

.app-sidebar-container{
  grid-row: 1/4;
  grid-column: 1/2 ;
}
.app-main-screen{
  grid-row: 2/3;
  grid-column: 2/4 ;
}

@media (min-width: 768px) {
  .app-container {
    grid-template-columns: 250px 1fr 1fr;
  }
}